

<header class="nav-contenedor">
    <div class="logo">
       <a href="/"> <img src="/Images/Logo_BuenaVid.jpg" alt=""></a>
    </div>

    <form class="form-nav" action="/producto/buscar" method="post">
        <input class="input-nav" type="text" name="q" id="" placeholder="Busca tu producto">
       <a href=""> <i class="fa fa-search" aria-hidden="true"></i> </a>
    </form>

    <nav class="menu_nav">
        <ul class="menu_ul">
            <% if(locals.userLogged){ %>
                <li><a href="">"Hola <%=locals.userLogged.first_name %> !</a></li>
                <li><a href="/usuario/editar/<%=locals.userLogged.id %>">Editar perfil</a></li>
                <li><a href="/usuario/logout">Cerrar sesión</a></li>
          <%  } else{ %>
            <li> <i class="fa fa-sign-in" aria-hidden="true"></i><a href="/usuario/login">Login</a></li>
            <li> <i class="fa fa-registered" aria-hidden="true"></i><a href="/usuario/registro">Registro</a></li>  
        <%  }%> 
        <li> <i class="fa fa-shopping-cart" aria-hidden="true"></i><a href="/carrito">Carrito 0 Item (s)</a> </li>
        </ul>
        
    </nav>
    
</header>
<div class="nav-menu">
    <nav class="navm">
        <ul>
            <li><a href="/producto/promociones">Promociones</a></li>

            <li><a href="/producto/tintos">Vinos Tintos</a></li>

            <li><a href="/producto/blancos">Vinos Blancos</a></li>

            <li><a href="/producto/espumantes">Vinos Espumantes</a></li>
            
            <li><a href="/producto/rosados">Vinos Rosados</a></li>
            
            <% if(locals.userLogged){ %>
                <% if (locals.userLogged.rol_id === 2) { %>
                    <li><a href="/producto/carga">Agregar Producto</a></li>
                <% } %>
            <% } %>

        </ul>
    </nav>

</div>


<body>