<%- include ('partials/head') %>
<%- include ('partials/header') %>

<body>



    <div class="contenedor-principal">

        <button><a href="Volver al listado"></a></button>

<div class="contenedor-gral">
        <div class="contenedor-detalle">
            <div class="contenedor-fotos">
                <img src="Images/flminto.jfif" alt="">
            </div>
           
            <div class="contenedor-texto">
                <div class="titulo"><h2>Vino Tinto Rutini Malbec botella 750cc</h2></div>
                <br>
                <div class="precio"><span>$ 3000</span> </div>
                <br>
                <div class="dto"><h4>23% OFF</h4></div>
                
                <div class="cuotas"><h4>3 cuotas de $ 1000</h4></div>
                <br>
                <div class="btn-comprar">
                <button class="btn-com-com"><a href=""> Comprar Ahora</a></button>
                <button class="btn-com-car"><a href=""> Agregar al carrito</a></button>
                </div>
            </div>


        </div>
        
        <div class="info-producto">
            <h2>Caracteristicas Principales</h2>
            
        </div>
<br>
        <table class="tabla-prod">
            <tr class="tabla-uno">
                <h3>Bodega: </h3>
                <h3>Marca:</h3>
            </tr>
            <tr class="tabla-uno">
                <h3>Bodega: </h3>
                <h3>Marca:</h3>
            </tr>

        </table>
    </div>
</div>    

        <%- include ('partials/footer') %>

</body>

</html>