<%- include ('partials/head') %>
<%- include ('partials/header') %> 



<body>

    <main class="main-formularios">
    
        <div class="cuadro-formularios">

            <h2>Por favor, cargar aquí los datos del producto a incorporar</h2>

            <form action="/producto/carga" method="post" enctype="multipart/form-data">
                <p>
                    <label>Categoría</label>
                    <select type="text" name="category" required>
                        <option value="Tinto"> Vinos Tintos </option>
                        <option value="Blanco"> Vinos Blancos </option>
                        <option value="Dulce"> Vinos Dulces </option>
                        <option value="Rosado"> Vinos Rosados </option>
                        <option value="Espumantes"> Espumantes </option>
                        <option value="otros"> Otros </option>
                    </select>
                </p>

                <p>
                    <label>Descripción</label>
                    <input type="text" name="description" required>
                </p>

                <p>
                    <label>Bodega / Productor / Fabricante</label>
                    <input type="text" name="winery" required>
                </p>

                <p>
                    <label>Origen</label>
                    <input type="text" name="origin" required>
                </p>

                <p>
                    <label>Año</label>
                    <input type="number" name="year" required>
                </p>

                <p>
                    <label>Precio</label>
                    <input type="number" name="price" required>
                </p>           
                <p>
                    <label>Si está en Oferta/Promoción, indique el porcentaje del descuento</label>
                    <input type="number" name="discount" placeholder="0 o el numero sin el %" required>
                </p>

                <p>
                    <label>Agregue la foto del artículo en formato .jpg o .png</label>
                    <input type="file" name="photo">
                </p>

                <p>
                    <label>Es un producto recomendado</label>
                    <select type="boolean" name="recomended" required>
                        <option value="true"> SI </option>
                        <option value="false"> NO </option>
                    </select>
                </p>
                    
                <p>
                    <button type="reset">Resetear formulario</button>
                </p>
      
                <p>
                    <button type="submit">GUARDAR PRODUCTO</button>
                </p>

            </form>
           
        </div>

    </main>



</body>
</html>