<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buena Vid</title>
</head>
<body>
    <h1>Bienvenidos a Buena Vid</h1>
    <a href="/views/producto.html">Productos</a>

   <header>
    <logo></logo>
    <buscador></buscador>
    <logIn></logIn>
    <carrito></carrito>
    <contacto></contacto>
    
   </header>
   <main>
    <banner></banner>
    <masVendidos></masVendidos>
    <vinos></vinos>

   </main>
   <footer>

   </footer>
    
</body>
</html>