<%- include ('partials/head') %>
<%- include ('partials/header') %> 


    <main class="main-cuerpo">
        <h3 class="prodes">Productos Destacados</h3><br>
        <div class="products">
            <article>
                <img src="Images/flminto.jfif" alt="achaval" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                     <div class="flex-container">
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                    </div>
                    <button class="btn-carr"><a href="/producto"> Ver Producto</a></button>
                    
                </div>
            </article>
            <article>
                <img src="Images/flminto.jfif" alt="altosDelPlata" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                     <div class="flex-container"><br>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                    </div>
                    <button class="btn-carr"><a href="/producto"> Ver Producto</a></button>
            </article>
            <article>
                <img src="Images/flminto.jfif" alt="lasLiebres" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                     <div class="flex-container">
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                    </div>
                    <button class="btn-carr"><a href="/producto"> Ver Producto</a></button>
            </article>
            <article>
                <img src="Images/flminto.jfif" alt="catena" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                     <div class="flex-container">
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                    </div>
                    <button class="btn-carr"><a href=""> Ver Producto</a></button>
            </article>
        </div>
    </section>
    <section class="offers"><br>
        <h3 class="ofer">Sugeridos del Mes</h3><br>
        <br>
        <br>
        
        <div class="products">
            <article>
                <img src="Images/flminto.jfif" alt="pinot" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                    <div class="flex-container">
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                    </div>
                    
                </div>
                <button class="btn-carr"><a href=""> Ver Producto</a></button>
            </article>
            <article>
                <img src="Images/flminto.jfif" alt="pinotNoir" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                    <div class="flex-container">
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                    </div>
                    
                </div>
                <button class="btn-carr"><a href=""> Ver Producto</a></button>
            </article>
            <article>
                <img src="Images/flminto.jfif" alt="laFlor" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                    <div class="flex-container">
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                    </div>
                    
                </div>
                <button class="btn-carr"><a href=""> Ver Producto</a></button>
            </article>
            <article>
                <img src="Images/flminto.jfif" alt="lagarde" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                    <div class="flex-container">
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                    </div>
                    
                </div>
                <button class="btn-carr"><a href=""> Ver Producto</a></button>
            </article>
        </div>
    </section>
        </div>

    </main>
<br>
<br>
<br>
<br>

<%- include ('partials/footer') %> 
</body>
</html>
    