<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Buena Vid</title>
</head>
<body>
    <header class="nav-contenedor">
        <div class="logo">
            <img src="/Images/Logo_BuenaVid.jpg" alt="">
        </div>

        <form class="form-nav" action="" method="post">
            <input class="input-nav" type="text" name="" id="" placeholder="Busca tu producto">
            <i> <img class="img-menu" src="/Images/lupa2.svg" alt=""></i>
        </form>

        <nav class="menu_nav">
            <ul class="menu_ul">
                <li> <img src="Images/login.png" alt=""><a href="#">Login</a></li>
                <li> <img src="Images/registro.png" alt=""><a href="#">Registro</a></li>
                <li> <img src="Images/carro.png" alt=""><a href="#">Carrito 0 Item (s)</a> </li>
            </ul>
        </nav>


    </header>
    <div class="nav-menu">
        <nav class="navm">
            <ul>
                <li><a href="">Promociones</a></li>

                <li><a href="">Vinos Tintos</a></li>

                <li><a href="">Vinos Blancos</a></li>

                <li><a href="">Vinos Dulces</a></li>
                <li><a href="">Vinos Rosados</a></li>

                <li><a href="">Bodegas Destacadas</a></li>

            </ul>
        </nav>

    </div>
   <main>

        <h2 class="tituloPromos"> OFERTAS DEL MES</h2>

        <p> Nota: esta seccion debería terminar siendo un corrousel con todas las ofertas</p>
    
        <promociones class="cajaPromos">
            
            <div class="articuloPromo">
                <div class="categoriaArt"> Vino Tinto</div>
                <div class="fotoArt">  <img class="fotoArt2" src="/images/vinos-tintos/achaval-ferrer-malbec-2016.jpg" alt="foto promo 1"> </div>
                <div class="descripcionArt"> Tinto Malbec Achaval Ferrer 2016</div>
                <div class="precioArt"> precio lista $ 10.000</div>
                <div class="precioArtPromo"> PROMO $ 8.000</div>
            </div>      
            <div class="articuloPromo">
                <div class="categoriaArt"> Vino Rosado </div>
                <div class="fotoArt">  <img class="fotoArt2" src="/images/vinos-rosados/antonieta-rose-pinot-noir.jpeg" alt="foto promo 2"> </div>
                <div class="descripcionArt"> Antonieta Rose Pinot Noir</div>
                <div class="precioArt"> precio lista $ 11.000</div>
                <div class="precioArtPromo"> PROMO $ 9.000</div>
            </div>       
            <div class="articuloPromo">
                <div class="categoriaArt"> Vino Blanco </div>
                <div class="fotoArt">  <img class="fotoArt2" src="/images/vinos-blancos/luigi-bosca-chardonnay-2019.jpeg" alt="foto promo 3"> </div>
                <div class="descripcionArt"> Luigi Bosca Chardonnay 2019</div>
                <div class="precioArt"> precio lista $ 12.000</div>
                <div class="precioArtPromo"> PROMO $ 10.000</div>
            </div>       
           
        </promociones>

        <h2 class="tituloRecomendados"> Los recomendados de BuenaVid </h2>

        <p> Nota: esta seccion debería terminar siendo un corrousel con todas las recomendaciones</p>

        <recomendados class="cajaRecomendados">

            <div class="articuloRecomendado">
                <div class="categoriaArt"> Vino Tinto </div>
                <div class="fotoArt"> <img class="fotoArt2"  src="/images/vinos-tintos/dv-catena-malbec-2021.jpg" alt="foto artículo 1"> </div>
                <div class="descripcionArt"> Catena Malbec 2021</div>
                <div class="precioArt"> $ 10,000 </div>
            </div>     
            <div class="articuloRecomendado">
                <div class="categoriaArt"> Vino Rosado </div>
                <div class="fotoArt"> <img class="fotoArt2" src="/images/vinos-rosados/antonieta-rose-pinot-noir.jpeg" alt="foto artículo 2"> </div>
                <div class="descripcionArt"> Antonieta Rose Pinot Noir</div>
                <div class="precioArt"> $ 11,000 </div>
            </div>   
            <div class="articuloRecomendado">
                <div class="categoriaArt"> Vino Blanco </div>
                <div class="fotoArt"> <img class="fotoArt2" src="/images/vinos-blancos/luigi-bosca-chardonnay-2019.jpeg" alt="foto artículo 3"> </div>
                <div class="descripcionArt"> Luigi Bosca Chardonnay 2019 </div>
                <div class="precioArt"> $ 12,000 </div>
            </div>      
            

        </recomendados>

   </main>
    
    <footer>
        <div class="newsletter">
            <i class="fas fa-wine-bottle">¿Querés recibir ofertas en tu mail?</i>
            <form method="POST" action="/" class="novedades">
                <div class="formulario">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" placeholder="Nombre" class="name">
                </div>
            
                <div class="formulario">
                    <label for="mail"></label>
                    <input type="email" name="mail" id="mail" placeholder="E-mail" class="mail">
                </div>
                <div class="formulario">
                    <button type="submit" class="boton">Enviar</button>
                </div>
         
            </form> 
        </div>
        <div class="fondo">
            <div class ="redes">
                <p>CONTACTANOS</p>
                <ul>
                    <li><i class="fab fa-facebook-square"></i>  /buenavid</li>
                    <li><i class="fab fa-twitter"> </i>  @buenavid</li>
                    <li><i class="fab fa-instagram"> </i>  /buena_vid</li>
                </ul>
            </div>
            <div class="pagos">
                <p>FORMAS DE PAGO</p>
                <ul>
                    <li><i class="fab fa-cc-visa"></i>  Visa</li>
                    <li><i class="fab fa-cc-mastercard"></i> Mastercard</li>
                    <li><i class="fab fa-cc-amex"></i>  American Express</li>
                    <li><i class="fas fa-money-bill"></i>  Efectivo</li>
                    <li><i class="fab fa-bitcoin"></i>  Bitcoin</li>
                </ul>
            </div>
        </div>
        <p class="fin">© BuenaVid 2022 - Prohibida la venta de alcohol a menores de 18 años.</p>
    </footer>

</body>
</html>