
<%- include ('partials/head') %>
<%- include ('partials/header') %>
<br>
<br>
<br>
<br>
<br>    
<main class="main-formularios">

        <div class="cuadro-formularios">
            <h2>Ingresá con tu cuenta</h2>
            <form action="/" method="POST">
                <p>
                    <label>Correo Electrónico</label>
                    <input type="email" name="mail" required>
                </p>

                <p>
                    <label>Contraseña</label>
                    <input type="password" name="password" required>
                </p>

                <p>
                    <button class="btnlog" type="submit">Ingresar</button>
                </p>
            </form>
        </div>

    </main>

    <%- include ('partials/footer') %> 

    </html>