<%- include ('partials/head.ejs') %>
<%- include ('partials/header.ejs') %> 

<body>
    <h1 class="not-found"> Le pedimos disculpas, pero no tenemos o no entendemos lo que busca </h1>
    <h2 class="firma-not-found">El Equipo de BuenaVid </h2>
</body>

<%- include ('partials/footer.ejs') %> 
</html>

