<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header class="nav-contenedor">
        <div class="logo">
            <img src="css/img/Logo BuenaVid 2.jpg" alt="">
        </div>

        <form class="form-nav" action="" method="post">
            <input class="input-nav" type="text" name="" id="" placeholder="Busca tu producto">
            <i> <img class="img-menu" src="/Images/lupa2.svg" alt=""></i>
        </form>

        <nav class="menu_nav">
            <ul class="menu_ul">
                <li> <img src="Images/login.png" alt=""><a href="#">Login</a></li>
                <li> <img src="Images/registro.png" alt=""><a href="#">Registro</a></li>
                <li> <img src="Images/carro.png" alt=""><a href="#">Carrito 0 Item (s)</a> </li>
            </ul>
        </nav>


    </header>
    <div class="nav-menu">
        <nav class="navm">
            <ul>
                <li><a href="">Promociones</a></li>

                <li><a href="">Vinos Tintos</a></li>

                <li><a href="">Vinos Blancos</a></li>

                <li><a href="">Vinos Dulces</a></li>
                <li><a href="">Vinos Rosados</a></li>

                <li><a href="">Bodegas Destacadas</a></li>

            </ul>
        </nav>

    </div>

    <main class="main-cuerpo">
        <h3>Productos Destacados</h3><br>
        <div class="products">
            <article>
                <img src="Images/flminto.jfif" alt="achaval" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                     <div class="flex-container">
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                    </div>
                    <button class="btn-carr"><a href=""> Comprar</a></button>
                    
                </div>
            </article>
            <article>
                <img src="Images/flminto.jfif" alt="altosDelPlata" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                     <div class="flex-container"><br>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                    </div>
                    <button class="btn-carr"><a href=""> Comprar</a></button>
            </article>
            <article>
                <img src="Images/flminto.jfif" alt="lasLiebres" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                     <div class="flex-container">
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                    </div>
                    <button class="btn-carr"><a href=""> Comprar</a></button>
            </article>
            <article>
                <img src="Images/flminto.jfif" alt="catena" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                     <div class="flex-container">
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                    </div>
                    <button class="btn-carr"><a href=""> Comprar</a></button>
            </article>
        </div>
    </section>
    <section class="offers"><br>
        <h3>Ofertas</h3><br>
        <div class="products">
            <article>
                <img src="Images/flminto.jfif" alt="pinot" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                    <div class="flex-container">
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                    </div>
                    
                </div>
                <button class="btn-carr"><a href=""> Comprar</a></button>
            </article>
            <article>
                <img src="Images/flminto.jfif" alt="pinotNoir" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                    <div class="flex-container">
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                    </div>
                    
                </div>
                <button class="btn-carr"><a href=""> Comprar</a></button>
            </article>
            <article>
                <img src="Images/flminto.jfif" alt="laFlor" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                    <div class="flex-container">
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                    </div>
                    
                </div>
                <button class="btn-carr"><a href=""> Comprar</a></button>
            </article>
            <article>
                <img src="Images/flminto.jfif" alt="lagarde" class="product_img">
                <div class="main-article">
                    <h4 class="description">Finca Las Moras</h4>
                    <h5 class="description">Los Intocables</h5>
                    <div class="flex-container">
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                    </div>
                    
                </div>
                <button class="btn-carr"><a href=""> Comprar</a></button>
            </article>
        </div>
    </section>
        </div>

    </main>
</body>


</html>
