<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>  

    <header class="nav-contenedor">
        <div class="logo">
               <img src="Images/Logo BuenaVid 2.jpg" alt="">
        </div>
        <form class="form-nav" action="" method="post">
            <input class="input-nav" type="text" name="" id="" placeholder="Busca tu producto">
            <i> <img class="img-menu" src="/Images/lupa2.svg" alt=""></i>
        </form>

        <div class="banner">
            <img class="img-banner" src="/Images/vinos-banner.jpg" alt="">
        </div>

        <nav class="menu_nav">
            <ul class="menu_ul">
                <li> <img src="Images/login.png" alt=""><a href="#">Login</a></li>
                <li> <img src="Images/registro.png" alt=""><a href="#">Registro</a></li>
                <li> <img src="Images/carro.png" alt=""><a href="#">Carrito</a> 0 Item (s)</li>
            </ul>
        </nav>
    </header>

<main class="main-cuerpo">

    <div class="foto1">
        <img src="/Images/vino1.webp" alt="">
    </div>
    <div class="foto2">
        <img src="/Images/vino2.webp" alt="">
    </div>
    <div class="foto3">
        <img src="/Images/vino3.jpg" alt="">
    </div>
    <div class="foto4">
        <img src="/Images/vino4.webp" alt="">
    </div>




</main>        
</body>
</html>