<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400;1,700&display=swap" rel="stylesheet">
    <title>Carrito</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/carrito.css">
</head>
<body>
    <header></header>
<main>
   <section>
    <div class="centrar-icono-h3">
    <h3>Mi compra <i class="fas fa-shopping-basket"></i></h3>
</div>
<div class="informacion-de-los-productos">
<p>Producto</p>

<p>Precio por unidad</p>
<p>Cantidad</p>
<p>Total</p>

</div>

<article>
    <div class="flex">
    <div>
<img src="/Images/vino1.webp" class="tamano-imagen">
<p>Nombre</p>
</div>
<div class="postion-de-los-productos">
<p>$...</p>
</div>
<div class="postion-de-los-productos2">
    <select name="cantidad" id="cantidad" required>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
    </select>
</div>
<div class="postion-de-los-productos3">
    <p>$...</p>
</div>

</article>

<article>
    <div class="flex">
    <div>
    <img src="/Images/vino2.webp" class="tamano-imagen">
    <p>Nombre</p>
</div>
<div class="postion-de-los-productos">
    <p>$...</p>
    </div>
    <div class="postion-de-los-productos2">
        <select name="cantidad" id="cantidad" required>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
        </select>
    </div>
    <div class="postion-de-los-productos3">
        <p>$...</p>
    </div>

    </article>

    <article>
        <div class="flex">
        <div>
        <img src="/Images/vino4.webp" class="tamano-imagen">
        <p>Nombre</p>
    </div>
    <div class="postion-de-los-productos">
        <p>$...</p>
        </div>
        <div class="postion-de-los-productos2">
            <select name="cantidad" id="cantidad" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
            </select>
        </div>
        <div class="postion-de-los-productos3">
            <p>$...</p>
        </div>
    </div>
        </article>
</section>


<section>
<form action="/" method="get">
    <button type="submit">Seguir comprando</button>
<button type="reset">Comprar</button>
</form>
</section>













</main>

<footer></footer>
</body>
</html>