<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400;1,700&display=swap"
        rel="stylesheet">
    <title>Carrito</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/carrito.css">
</head>

<body>
    <header class="nav-contenedor">
        <div class="logo">
            <img src="Images/Logo BuenaVid 2.jpg" alt="">
        </div>
        <form class="form-nav" action="" method="post">
            <input class="input-nav" type="text" name="" id="" placeholder="Busca tu producto">
            <i> <img class="img-menu" src="/Images/lupa2.svg" alt=""></i>
        </form>


        <nav class="menu_nav">
            <ul class="menu_ul">
                <li> <img src="Images/login.png" alt=""><a href="#">Login</a></li>
                <li> <img src="Images/registro.png" alt=""><a href="#">Registro</a></li>
                <li> <img src="Images/carro.png" alt=""><a href="#">Carrito</a> 0 Item (s)</li>
            </ul>
        </nav>
    </header>       
    <main>
        <section>
            <div class="centrar-icono-h3">
                <h3>Mi compra <i class="fas fa-shopping-basket"></i></h3>
                <table>
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Unidades</th>
                            <th class="no-celular">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                
                                <figure class="border-imagen"><img src="/Images/vinos-tintos/la-flor-malbce-2020.jpg" 
                                        class="imagen-tamano margin-bottom">
                                    <figcaption>La flor Malbec 2020</figcaption>
                                </figure>
                            </td>
                            <td>$1500</td>
                            <td><select name="unidades" id="unidades" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="no-celular">$1500</td>
                            <td><i class="fas fa-trash-alt"></i></td>
                        </tr>

                        <tr>
                            <td>
                                <figure class="border-imagen"><img src="/Images/vinos-blancos/lunta-torrontes-2019.png" 
                                        class="imagen-tamano margin-top">
                                    <figcaption>Lunta torrontes 2019</figcaption>
                                </figure>
                            </td>
                            <td>$1800</td>
                            <td><select name="unidades" id="unidades" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="no-celular">$1800</td>
                            <td><i class="fas fa-trash-alt"></i></td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td class="top">Total:</td>
                            <td class="top">$3300</td>
                        </tr>
                    </tfoot>
                </table>

                <div class="box-botones">
                    <form method="get" action="/">
                        <button type="submit" class="boton-start">Seguir comprando</button>
                        <button type="reset" class="boton-end">Comprar</button>
                    
                    </form>
                </div>
    </main>

    <footer>
        <div class="newsletter">
            <i class="fas fa-wine-bottle">¿Querés recibir ofertas en tu mail?</i>
            <form method="POST" action="/" class="novedades">
                <div class="formulario">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" placeholder="Nombre" class="name">
                </div>

                <div class="formulario">
                    <label for="mail"></label>
                    <input type="email" name="mail" id="mail" placeholder="E-mail" class="mail">
                </div>
                <div class="formulario">
                    <button type="submit" class="boton">Enviar</button>
                </div>

            </form>
        </div>
        <div class="fondo">
            <div class="redes">
                <p>CONTACTANOS</p>
                <ul>
                    <li><i class="fab fa-facebook-square"></i> /buenavid</li>
                    <li><i class="fab fa-twitter"> </i> @buenavid</li>
                    <li><i class="fab fa-instagram"> </i> /buena_vid</li>
                </ul>
            </div>
            <div class="pagos">
                <p>FORMAS DE PAGO</p>
                <ul>
                    <li><i class="fab fa-cc-visa"></i> Visa</li>
                    <li><i class="fab fa-cc-mastercard"></i> Mastercard</li>
                    <li><i class="fab fa-cc-amex"></i> American Express</li>
                    <li><i class="fas fa-money-bill"></i> Efectivo</li>
                    <li><i class="fab fa-bitcoin"></i> Bitcoin</li>
                </ul>
            </div>
        </div>
        <p class="fin">© BuenaVid 2022 - Prohibida la venta de alcohol a menores de 18 años.</p>
    </footer>
</body>

</html>