<%- include ('partials/head') %>
<%- include ('partials/header') %> 

   <main class="main-formularios">
    
    <div class="cuadro-formularios">
        <h2>Registrate</h2>
        <form action="/" method="post">
            <p>
              <label>Nombre/s</label>
              <input type="text" name="nombre" required>
            </p>

            <p>
                <label>Apellido/s</label>
                <input type="text" name="apellido" required>
            </p>

            <p>
                <label>Fecha de nacimiento</label>
                <input type="date" name="nacimiento" required>
            </p>

            <p>
                <label>Correo Electrónico</label>
                <input type="email" name="mail" required>
            </p>

            <p>
                <label>Teléfono de contacto</label>
                <input type="tel" name="telefono" required>
            </p>

            <div class="checkbox-preferencias">
                <p>¿Cuáles son tus preferencias?</p>
                    <input type="checkbox" name="tintos" value="Tintos">
                    <label for="tintos">Tintos</label>
                    <input type="checkbox" name="blancos" value="Blancos">
                    <label for="blancos">Blancos</label>
                    <input type="checkbox" name="rosados" value="Rosados">
                    <label for="rosados">Rosados</label>
                    <input type="checkbox" name="espumosos" value="Espumosos">
                    <label for="espumosos">Espumosos</label>
            </div>
      
            <p>
              <label>Contraseña</label>
              <input type="password" name="password" required minlength="6">
              <i class="fas fa-info-circle"> Requiere mínimo 6 caracteres</i>

            </p>

            <p>
                <label>Repetir Contraseña</label>
                <input type="password" name="password" required minlength="6">
            </p>
      
            <p>
                <button type="submit">Registrarme</button>
            </p>
          </form>
        <a href="/login">Ya estoy registrado</a>
    </div>

   </main>
    
   <%- include ('partials/footer') %> 
</html>
