<%- include ('partials/head') %>
<%- include ('partials/header') %>

   <main class="main-formularios">
    
    <div class="cuadro-formularios">
        <h2>Registrate</h2>
        <form action="/usuario/registro" method="post" enctype="multipart/form-data">
            
            
            <p>
                <label>Seleccione su Rol</label>
                <select type="text" name="rol" id="rol"> 
                    <option value="admin"> Administrador</option>
                    <option value="cliente"> Cliente</option>
                </select>
              
            
            <p>
              <label>Nombre/s</label>
              <input type="text" name="first_name" id="first_name">
            </p>

            <p>
                <label>Apellido/s</label>
                <input type="text" name="last_name" id="last_name">
            </p>

            <p>
                <label>Fecha de nacimiento</label>
                <input type="date" name="date" id="date">
            </p>

            <p>
                <label>Correo Electrónico</label>
                <input type="email" name="email" id="email">
            </p>

            <p>
                <label>Teléfono de contacto</label>
                <input type="tel" name="cellphone" id="cellphone">
            </p>
      
            <p>
              <label>Contraseña</label>
              <input type="password" name="password" minlength="6">
              <i class="fas fa-info-circle"> Requiere mínimo 6 caracteres</i>

            </p>
      
            <p>
                <button type="submit">Registrarme</button>
            </p>
          </form>
        <a href="/usuario/login">Ya estoy registrado</a>
    </div>

   </main>
    
   <%- include ('partials/footer') %> 
</html>
