<%- include ('partials/head') %>
<%- include ('partials/header') %>

   <main class="main-formularios">
    
    <div class="cuadro-formularios">
        <h2>Registrate</h2>
        <form action="/usuario/registro" method="post" enctype="multipart/form-data">
            <p>
              <label>Nombre/s</label>
              <input type="text" name="first_name" id="first_name">
            </p>

            <p>
                <label>Apellido/s</label>
                <input type="text" name="last_name" id="last_name">
            </p>

            <p>
                <label>Fecha de nacimiento</label>
                <input type="date" name="date" id="date">
            </p>

            <p>
                <label>Correo Electrónico</label>
                <input type="email" name="email" id="email">
            </p>

            <p>
                <label>Teléfono de contacto</label>
                <input type="tel" name="cellphone" id="cellphone">
            </p>

            <div class="checkbox-preferencias">
                <p>¿Cuáles son tus preferencias?</p>
                    <input type="checkbox" name="preferences" value="Tintos">
                    <label for="tintos">Tintos</label>
                    <input type="checkbox" name="preferences" value="Blancos">
                    <label for="blancos">Blancos</label>
                    <input type="checkbox" name="preferences" value="Rosados">
                    <label for="rosados">Rosados</label>
                    <input type="checkbox" name="preferences" value="Espumosos">
                    <label for="espumosos">Espumosos</label>
            </div>
      
            <p>
              <label>Contraseña</label>
              <input type="password" name="password" minlength="6">
              <i class="fas fa-info-circle"> Requiere mínimo 6 caracteres</i>

            </p>

            <p>
                <label>Repetir Contraseña</label>
                <input type="password" name="password" minlength="6">
            </p>
      
            <p>
                <button type="submit">Registrarme</button>
            </p>
          </form>
        <a href="/login">Ya estoy registrado</a>
    </div>

   </main>
    
   <%- include ('partials/footer') %> 
</html>
