<%- include ('partials/head.ejs') %>
<%- include ('partials/header.ejs') %> 

<body>
    <h1 class="not-found"> El usuario no existe en nuestra base de datos </h1>
    <h2 class="firma-not-found">El Equipo de BuenaVid </h2>
    <a href="/usuario/login">Volver al formulario de Login</a>

</body>

<%- include ('partials/footer.ejs') %> 
</html>
