table {
    background: white;
    width: 50vw;
    margin: 0 auto;
    margin-top: 2%;
    border-collapse: collapse;
    text-align: center;

  }
  

  th{
    background-color: #342D50;
    height: 35px;
    border-bottom: 1px solid rgb(210, 220, 250);
    color: rgb(120, 120, 120);
  }
  


.metodo-flex{
display: flex;
justify-content: space-between;
}
@media (min-width: 768px){

}
