/*
    CSS FORMULARIOS (REGISTER Y LOGIN)
*/

.main-formularios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.cuadro-formularios {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: rgba(0,0,0,1) 1px solid ;
    border-color: #512d38;
    width: 70%;
    padding: 10px;
    margin: 30px;
}

div.cuadro-formularios h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

div.cuadro-formularios form {
    align-items: center;
}

div.cuadro-formularios form p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    padding: 3px;
    margin: 20px;
}

div.cuadro-formularios form p input {
    border-radius: 10px;
    background-color: #f5edf0;
    border-bottom: 1px solid  rgba(0,0,0,1) ;
    border-color: red;
    margin: 5px;
    padding: 10px;
    height: 35px;
}

div.cuadro-formularios form p label {
    text-align: left;
    margin: 5px;
    font-size: 18px;
    
}

div.cuadro-formularios form p i {
    color: rgb(168, 168, 168);
   
}

div.cuadro-formularios form div.checkbox-preferencias {
    margin: 5px;
    font-size: 18px;
}

div.cuadro-formularios form div.checkbox-preferencias p {
    text-align: left;
}

div.cuadro-formularios form p button {
    background-color: #512d38;
    border-radius: 20px;
    font-size: 20px;
    padding: 15px;
    box-shadow: none;
    color: white;
    cursor: pointer;
    border: 1px solid;
}

div.cuadro-formularios a {
    color: #512d38;
    margin: 10px;
}

.boton-recordame {
    display: inline-block;
    border: none;
    color: #512d38;
    font-size: 14px;
    cursor: pointer;
  }
  
  .boton-recordame:focus {
    outline: none;
  }
  
  .boton-recordame:active {
    transform: translateY(1px);
  }
  
  .boton-recordame input[type="checkbox"] {
    display: none;
  }
  
  .boton-recordame label {
    display: inline-block;
    padding-left: 25px;
    position: relative;
  }
  
  .boton-recordame label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #512d38;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 3px;
  }
  
  .boton-recordame input[type="checkbox"]:checked + label:before {
    content: "\2713";
    text-align: center;
    line-height: 16px;
  }

/*
    FIN FORMULARIOS
*/

@media (min-width: 768px) {

}