/*Paleta de Colores*/

violetaIntenso {
    color: #1E0233,
}
violetaMenosIntenso{
    color: #342D50,
}
violetaMenosIntenso2{
    color: #342D50,
}
violetaMenosIntenso3{
    color: #895575,
}
rosado{
    color: #E7D3CC,
}
