/*Paleta de Colores*/

violetaIntenso {
    color: #1E0233,
}
violetaMenosIntenso{
    color: #342D50,
}
violetaMenosIntenso2{
    color: #342D50,
}
violetaMenosIntenso3{
    color: #895575,
}
rosado{
    color: #E7D3CC,
}

Paleta colores {
    /*1*/ color: #512d38; /*bordó*/

    /*2*/ color: #d88373; /*rosado pastel*/

    /*3*/ color: #031927; /*oscuro*/

    /*4*/ color: #f9eccc; /*amarillo clarito*/

    /*5*/ color: #fff8fb; /*blanco rosado* del background/

    /*6*/ color: #f5edf0; /*blanco rosado*/
}
