*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5edf0;
    width: 100%;
}
.banner{
    width:100%;
}

.nav-contenedor{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.164);
    margin:auto;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    
}
.main-cuerpo{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.164);
    margin:auto;
    margin-top: 20px;
}
main .img-banner{
    width: 100%;
}

.nav-hamburguesa{
    width: 30px;
    height: 50px;
    background-image: url(/Images/icons8-menú-30.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    margin-left: 5px;
    
}

.form-nav{
    border: none;
    padding: 20px 0;
    
}
.input-nav{
    border: none;
    border-bottom: solid 1px black;
    width: 150px;
    padding-bottom: 5px;
    margin-top: 10px;
    outline: none;
    font-size: 12px;
}

.img-banner{
    width: 100%;
    height: 50%;
    height: 220px;

}
.form{
    position: absolute;
    z-index: 0;
    margin-left: 800px;
    margin-top: 100px;
    display: none;
}
.form .buscador{
    text-align: right;
    z-index: 1;
    position: relative;
    opacity: 0.8;
    margin: auto;
    text-align: left;
}
.buscador, .btn-form{
    padding: 8px;
    border-radius: 5px;
    
}
.foto{
    opacity: 0.7;
    height: 50%;
}
.banner{
position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}


.img-menu{
    width: 20px;
    height: 20px;
}
.menu_ul a{ 
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 14px;
}
.menu_ul li{
list-style: none;
padding: 2px ;

}

.menu_ul li img{
    width: 15px;
    padding-right: 5px;
    
    }
.foto1 img {
    width: 20%;
    margin-bottom: 20px;
}
.foto2 img{
    width: 20%;  
    margin-bottom: 20px; 
}
.foto3 img{
    width: 20%;
    margin-bottom: 20px;
}
.fa-bitcoin{
    color: #f7931a;
}
.fa-instagram{
    color: #C13584;
}
.fa-twitter{
    color: #1DA1F2;
}
.fa-facebook-square{
    color: #4267B2;
}
.fa-cc-visa{
    color: #1a1f71;
}
.fa-cc-mastercard{
    color: black;
}
.fa-money-bill{
    color: #6B8068;
}
.fa-cc-amex{
    color: #2e77BB;
}
.foto4 img{
    width: 20%;
    margin-bottom: 20px;
}
.btn{
    border: none;
    border-radius: 5px;
    background-color: red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
ul{
    list-style: none;
    padding: 5px;
}
li{
    padding: 5px;
    margin: 1px;
}
ul li{
    margin-left: 5px;
}
.fin{
    padding: 20px
}
.newsletter{
    display: flex;
    padding-left: auto;
    background-color: #895575;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    width:100%;
    text-align: center;
}

.redes, .pagos{
    padding: 10px;
}
.fondo{
    display: flex;
    justify-content: space-around;
    width:100%;
    
}
.novedades{
    text-align: center;
}

.fa-wine-bottle{
    text-align: center;
}
.name, .mail{
    padding: 5px;
    border-radius: 6px;
}
.novedades{
    display: flex;
    margin: auto;
    border: none;
    padding: 5px;
    flex-direction: column;
}
.boton{
    background-color: #E7D3CC;
    color: #342D50;
    border-radius: 5px;
    padding: 5px
}

/*
    CSS FORMULARIOS
*/
.main-formularios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.cuadro-formularios {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-color: #6f1a07;
    width: 70%;
    padding: 10px;
    margin: 30px;
}

div.cuadro-formularios h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

div.cuadro-formularios form {
    align-items: center;
}

div.cuadro-formularios form p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    padding: 3px;
    margin: 20px;
}

div.cuadro-formularios form p input {
    border-radius: 10px;
    background-color: #f5edf0;
    margin: 5px;
    padding: 10px;
    height: 35px;
}

div.cuadro-formularios form p label {
    text-align: left;
    margin: 5px;
    font-size: 18px;
}

div.cuadro-formularios form p i {
    color: rgb(185, 185, 185);
}

div.cuadro-formularios form div.checkbox-preferencias {
    margin: 5px;
    font-size: 18px;
}

div.cuadro-formularios form div.checkbox-preferencias p {
    text-align: left;
}

div.cuadro-formularios form p button {
    background-color: #895575;
    border-radius: 20px;
    font-size: 20px;
    padding: 15px;
    box-shadow: none;
    color: white;
}

/*
    Inicio carrousel
*/

.tituloCarrousel{
    color: #1E0233;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(105, 6, 109, 0.64);
    margin-top: 26px;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 15%;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}

/*
    fin carrousel
*/

/*
    Inicio Recomendados
*/
.cajaRecomendados{
    display: flex;
    width: 100%;
}

.tituloRecomendados{
    color: #1E0233;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

.recomendado{
    width: auto;

}

/*
    Fin Recomendados
*/

/*
    FIN FORMULARIOS
*/

@media (min-width: 768px){
    .newsletter, .novedades{
        flex-direction: row;
    }
    .fa-wine-bottle {
        margin-top: 10px;
        margin-left: 15px;
    }
    .banner{
        width:100%
    }
    .form{
        display: flex;
        position: absolute;
        z-index: 0;
        margin-left: 500px;
        margin-top: 100px;
}
}