*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #dee4e8;
   
}
.banner{
    width:100%;
}
.navbar{
    display: flex;
    flex-direction: row;
}


.input-nav{
    border-radius: 5px;
    width: 50%;
    padding-bottom: 5px;
    margin-top: 10px;
    padding: 10px;
    font-size: 12px;
    background-color: #f5edf0;
}



.nav-izq{
    background-color: grey;
    width: 20%;
}
.navbar, .create-form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.main-cuerpo{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.164);
    margin:auto;
    margin-top: 20px;
}
main .img-banner{
    width: 100%;
}




.img-banner{
    width: 100%;
    height: 50%;
    height: 220px;

}
.form{
    position: absolute;
    z-index: 0;
    margin-left: 800px;
    margin-top: 100px;
    display: none;
}
.form .buscador{
    text-align: right;
    z-index: 1;
    position: relative;
    opacity: 0.8;
    margin: auto;
    text-align: left;
}
.buscador, .btn-form{
    padding: 8px;
    border-radius: 5px;
    
}

.img-menu{
    width: 20px;
    height: 20px;
}
.menu_ul a{ 
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 14px;
   
}
.menu_ul li{
list-style: none;
padding: 2px ;

}

.menu_ul li img{
    width: 15px;
    padding-right: 5px;
    
}
.foto1 img {
    width: 10%;
    margin-bottom: 20px;
}
.foto2 img{
    width: 10%;  
    margin-bottom: 20px; 
}
.foto3 img{
    width: 10%;
    margin-bottom: 20px;
}
.fa-bitcoin{
    color: #f7931a;
}
.fa-instagram{
    color: #C13584;
}
.fa-twitter{
    color: #1DA1F2;
}
.fa-facebook-square{
    color: #4267B2;
}
.fa-cc-visa{
    color: #1a1f71;
}
.fa-cc-mastercard{
    color: black;
}
.fa-money-bill{
    color: #6B8068;
}
.fa-cc-amex{
    color: #2e77BB;
}
.foto4 img{
    width: 10%;
    margin-bottom: 20px;
}
.agregarcarro{
    width: 90%;

}
.btn{
    width: 5%;
    color: white;
    font-size: 14px;
    background: #895575 ;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: red;
    box-sizing: border-box;



    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
ul{
    list-style: none;
    padding: 5px;
}
li{
    padding: 5px;
    margin: 1px;
}
ul li{
    margin-left: 5px;
}
.fin{
    padding: 20px;
    background-color: #512d38;
    color: white;
}
.newsletter{
    display: flex;
    padding-left: auto;
    background-color: #512d38;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    width:100%;
    text-align: center;
}

.redes, .pagos{
    padding: 10px;
}
.fondo{
    display: flex;
    justify-content: space-around;
    width:100%;
    background-color: #fff8fb;
    
}
.novedades{
    text-align: center;
}

.fa-wine-bottle{
    text-align: center;
}
.name, .mail{
    padding: 5px;
    border-radius: 6px;
    background-color: #f5edf0;
}
.novedades{
    display: flex;
    margin: auto;
    border: none;
    padding: 5px;
    flex-direction: column;
}
.boton{
    background-color: #E7D3CC;
    color: #342D50;
    border-radius: 5px;
    padding: 5px
}

/*
    CSS FORMULARIOS
*/
.main-formularios {
    display: flex;
    justify-content: center;
    width: 40%;
    border: 1px solid rgba(0,0,0,.1);
    margin: auto;
    border-radius: 5px;
    background-color: white;
   
    margin-bottom: 100px;
}


.cuadro-formularios {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    padding: 20px 20px;
    margin-top: 10px;
    border-radius: 5px;
}

div.cuadro-formularios h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

div.cuadro-formularios form {
    align-items: center;
    
}

div.cuadro-formularios form p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    padding: 3px;
    margin: 20px;
}

div.cuadro-formularios form p input {
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.1);
    margin: 5px;
    padding: 10px;
    height: 35px;
    width: 100%;
}

div.cuadro-formularios form p label {
    text-align: left;
    margin: 5px;
    font-size: 18px;
}

div.cuadro-formularios form p i {
    color: rgb(185, 185, 185);
}

div.cuadro-formularios form div.checkbox-preferencias {
    margin: 5px;
    font-size: 18px;
}

div.cuadro-formularios form div.checkbox-preferencias p {
    text-align: left;
}

div.cuadro-formularios form p button {
    background-color: #504136;
    width: 80%;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-shadow: none;
    color: white;
    margin-left: 20px;
}
div .cuadro-formularios.btnlog{
    background-color: #504136;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px;
    box-shadow: none;
    color: white;
    
    
    background-color: #031927;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

/*
    Inicio main
*/

.tituloPromos{
    color:#512d38;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin-top: 60px;
}
.cajaPromos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main promociones .articuloPromo{
    border:  #512d38 2px solid;
    padding: 4px;
    border-radius: 20px;
    display: block;
}

.categoriaArt{
    color: #031927;
    font-size: 20px;
    text-align: center;
    font-weight: 600;

}/* "main promociones .categoriaArt" es igual a "main recomendados .categoriaArt" */

.fotoArt{
    width: 25vw;
    height: 70vh;
    border: #031927 solid 1px;

}/* "main promociones .fotoArt2" es igual a main recomendados .fotoArt2" */


.descripcionArt{
    color: #031927;
    font-size: 20px;
    text-align: center;


}/* "main promociones .descripcionArt" es igual a ç2main recomendados .descripcionArt" */

.precioArt{
    color: #031927;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-weight: bold;

}/* "main promociones .precioArt" es igual a ç2main recomendados .precioArt" */

.precioArtPromo{
    color:#512d38;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
.contenedor-fts{
    overflow: hidden;
    height: 280px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}
.contenedor-fts img{
    width: 100%;
}



.cajaRecomendados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.tituloRecomendados{
    color:#512d38;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;

}

.articuloRecomendado{
    border:#d88373 2px solid;
    margin: auto;
    padding: 4px;
    border-radius: 2px;
    display: block;
}


/*
    fin main
*/

/*
    SOLO PARA LA VISTA NOT-FOUND
*/
.not-found{
    text-align: center;
    padding: 60px;
}
.firma-not-found{
    text-align: right;
    padding: 10px;
    margin-right: 30px;
}
/*
    FIN PARA LA VISTA NOT-FOUND
*/

@media (min-width: 481px){
    .logo img{
        margin-top: 200px;
        width: 20%;
    }   
}

@media (min-width: 768px){
    .newsletter, .novedades{
        flex-direction: row;
    }
    .fa-wine-bottle {
        margin-top: 10px;
        margin-left: 15px;
    }
    
    .form{
        display: flex;
        position: absolute;
        z-index: 0;
        margin-left: 500px;
        margin-top: 100px;
    }
    .nav-contenedor{
        width: 100%;
        margin:  auto ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #512d38;
        
        
    }
    .logo img{
        margin-top: 10px;
        margin-left: 10px;
        width: 50%;
        
    }

    .fa {
        color: #f0f0f0;
        padding: 10px

    };
    .contenedor-fotos img{
        width: 100%;
    }
    .form-nav{
        padding: 50px ;
            
    }
   
    .input-nav{
        border-radius: 5px;
        width: 400px;
        padding-bottom: 5px;
        margin-top: 5px;
        padding: 10px;
        font-size: 12px;
    }
    .menu_nav .menu_ul {
        display: flex;
        flex-direction: row;
        padding: 150px;
        letter-spacing: 1px;

        
    }

    .menu_nav .menu_ul  :hover{
        text-decoration: underline;
        transform: translateY(-10%);

        
    }
    .nav-menu{
        width: 100%;
        margin: auto;
        height: 70px;
        padding: 0px 20px;
        background-color: #512d38;
        margin-top: -16px;
        
    }
    nav{
        height: 100%;
    }
    nav  ul{
        height: 100%;
        display: flex;
    }
    nav  ul  li{
        height: 100%;
        list-style: none;
        text-decoration: none;
        
        
    }
    .navm  ul  li a{
        height: 100%;
        width: 100%;
        display: flex;
        color: white;
        padding: 14px;
        font-size: 16px;
        text-decoration: none;
        letter-spacing: 1px;
       
    }

    .navm  ul  li :hover{
        text-decoration:underline;
        transform: translateY(-10%);
    }
    .main-cuerpo{
        width: 90%;
        margin: auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
        
    }
    footer{
        margin-top:10px;
    }

    
    .products{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 20px;
        

    
    }
    
    article{
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: none;
    border-radius: 10px;
    margin: 20px;
   
    }

    article:hover{
        cursor: pointer;
        box-shadow: 10px 10px 20px rgb(100, 100, 100);
        transition: all 
}
    .description{
        padding-top: 5px;
        text-align: center;
    }

    .flex-container{
        display: flex;
        padding: 5px;
    }

    .btn-carr a{
        color: white;
    }
    .btn-carr{
        border: none;
        width: 50%;
        color: white;
        font-size: 10px;
        background: #512d38;
        padding: 10px 20px;
        margin-left: 50px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
       
    }
    .price{
        width: 30%;
        text-align: center;
    }
    .discount{
        width: 70%;
        text-align: center;
    }
    main .cuadro-formularios{
        border-color:#504136; 
        width: 500px;
        
    }

    main .main-formularios{
        width: 500px;
        border-color: #4267B2;
    }
    
    
    .contenedor-gral{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 10px;
        padding: 20px 20px;
        background-color: white;
    }
    .btnvolver{
       
        margin-left: 11%;
        border: none;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        background-color: #dee4e8;
        
    }
    .contenedor-detalle{
        margin: auto;
        display: flex;
        justify-content: space-between;
        
           
    }
   

    .contenedor-info{
        width: 50%;
    }
    .contenedor-fotos{
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 10px;
        padding: 10px 10px;
        width: 20%;
        margin: auto;

    }
    .info-producto{
        padding-top: 20px;
    }

    .contenedor-texto{
        border: 1px solid rgba(0,0,0,.1);
        padding: 10px 10px 40PX;
        width: 25%;
    }

    .titulo{
        padding-top: 5px;
        text-align: center;      
        font-size: bold; 
    }
    .precio{
        padding-top: 5px;
        text-align: center;      
        font-size: 30px; 
    }
    
    .dto{
        padding-top: 5px;
        text-align: center;
    }
    .cuotas{
        padding-top: 5px;
        text-align: center;
    }
    .btn-com-com{
        border: none;
        width: 90%;
        color: white;
        font-size: 20px;
        background: #504136;
        padding: 20px 20px;
        margin-left: 30px;
        border-radius: 5px;
        margin-bottom: 10px;  
          
    }
    .btn-com-car a{
        color: white;
        text-decoration:  none;
    }

    .btn-com-com a{
        color: white;
        text-decoration:  none;
    }

    .btn-com-car{
        border: none;
        width: 90%;
        color: white;
        font-size: 20px;
        background: #ebb4a2;
        padding: 20px 20px;
        margin-left: 30px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;       
    }
    .tabla-prod{
        border-spacing: 0;
        color: rgba(0,0,0,.9);
        
}    
.prodes{
    font-size: 25px;
}
.ofer{
    font-size: 25px;
}
.contenedor-bajo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-crear{
    display: flex;
  
    margin-top: 10px;
    width: 25%;

}
.contenedor-vovler{
    background: #dee4e8;
}

.btn-mod{
    border: none;
    width: 40%;
    color: white;
    font-size: 10px;
    background: #512d38;
    padding: 15px 15px;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
           
}
.btn-mod a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}




}